# Rust files.
target
Cargo.lock

# NNUE files.
nnue/data/*
!nnue/data/.keep
nnue/out/*
!nnue/out/.keep

# JS files.
node_modules
package-lock.json
www/public/build

# Temporary files.
/tmp
log.txt
perf.data*
docs