# Rust files.
target
Cargo.lock

# Dynamic files.
engine/books/*
!engine/books/.keep
engine/nets/*
!engine/nets/.keep

# JS files.
node_modules
package-lock.json
www/public/build

# Temporary files.
/tmp
log.txt
perf.data*
docs
nnue/trainer/pgn