body {
    background-image: linear-gradient(#1b1b1b, #474747);
}

canvas {
    background-color: #e5d792;
    position: relative;
    width: 75vmin;
    height: 75vmin;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}