/* The body of the document */
body {
    height: 100%;
    background: linear-gradient(#1b1b1b, #474747);
}

/* The main div, containing everything */
#main {
    width: 80vmax;
    height: 40vmax;

    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #3d3d3d;
    border-radius: 1vmax;
    border-color: #ffffff;
    border-style: solid;
}

/* A wrapper div for the board and the promote floating windox */
#wrapper {
    position: absolute;
    top: 1vmax;
    bottom: 1vmax;
    left: 1vmax;
}

/* The board */
#board {
    width: 38vmax;
    height: 38vmax;
    position: fixed;

    --light-color: #ffff99;
    --dark-color: #4CAF50;
}

/* The promote floating window */
#promote {
    width: 10vmax;
    height: 10vmax;

    box-shadow: 0 1vmax 1vmax rgba(34, 25, 25, 0.4);

    background: #ffffff;
    border-radius: 1vmax;
    padding: 1vmax;
    position: relative;
    top: 13vmax;
    left: 13vmax;

    visibility: hidden;
}

/* The button class */
.promote-button {
    position: absolute;
    width: 4vmax;
    height: 4vmax;

    border-radius: 1vmax;
    border-color: #000000;
    border-style: solid;

    cursor: pointer;
}

#promote-queen {
    top: 1vmax;
    left: 1vmax;
}

#promote-rook {
    top: 1vmax;
    right: 1vmax;
}

#promote-bishop {
    bottom: 1vmax;
    left: 1vmax;
}

#promote-knight {
    bottom: 1vmax;
    right: 1vmax;
}


/* The info div, containg texts and buttons */
#info {
    width: 38vmax;
    height: 38vmax;

    position: absolute;
    top: 1vmax;
    bottom: 1vmax;
    right: 1vmax;

    border-radius: 1vmin;
    border-color: #ffffff;
    border-style: solid;
}

/* The text style class */
.text {
    color: #ffffff;
    font-size: 1.4vmax;
    font-style: bold;

    position: relative;
    left: 2vmax;
}

/* The move history text style */
#moves {
    width: 34vmax;

    color: #ffffff;
    font-size: 1vmax;
    font-style: bold;

    position: relative;
    left: 2vmax;
    right: 2vmax;
}

/* The button class */
.button {
    width: 10vmax;
    height: 4vmax;

    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1vmax;
}

#join {
    position: absolute;
    left: 3vmax;
    bottom: 2vmax;
}

#invite {
    position: absolute;
    right: 3vmax;
    bottom: 2vmax;
}

#flip {
    position: absolute;
    left: 14vmax;
    bottom: 2vmax;
}